@model ArmadaReports.Web.Models.ScorecardViewModel

@{
    int calcYear1 = 0;
    int calcYear2 = 0;

    if (DateTime.Now.AddMonths(-2).Month == 11 ||
        DateTime.Now.AddMonths(-2).Month == 12)
    {
        calcYear1 = DateTime.Now.AddYears(-1).Year;
    }
    else { calcYear1 = DateTime.Now.Year; }

    if (DateTime.Now.AddMonths(-1).Month == 12)
    {
        calcYear2 = DateTime.Now.AddYears(-1).Year;
    }
    else { calcYear2 = DateTime.Now.Year; }
}

<style>
    .indicator {
        width: 22px;
    }
</style>

<div style="min-height: 300px;">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed" style="font-size: 14px !important; white-space: nowrap;">
            <thead>
                <tr class="tableHeader">
                    <td rowspan="2" style="text-align:center;padding-top:18px;width:375px!important;">Metrics</td>
                    <td colspan="2" style="text-align:center;">@DateTime.Now.AddMonths(-2).ToString("MMMM") @calcYear1</td>
                    <td colspan="2" style="text-align:center;">@DateTime.Now.AddMonths(-1).ToString("MMMM") @calcYear2</td>
                </tr>
                <tr class="tableHeader" style="text-align:center;">
                    <td>All Pharmacies</td>
                    <td>@Model.Pharmacy</td>
                    <td>All Pharmacies</td>
                    <td>@Model.Pharmacy</td>
                </tr>
            </thead>
            @if (Model.ScoreCardReportMonthOverMonth != null && Model.ScoreCardReportMonthOverMonth.Any())
            {
                foreach (var item in Model.ScoreCardReportMonthOverMonth)
                {
                    <tr style="text-align:right;">
                        <td style="text-align:left;">
                            @item.Status
                        </td>
                        @if (item.Status == "Fill Rate (Completion %)" || item.Status == "% of Referrals Accepted within 4 hrs")
                    {
                            <td>@item.LastMonthBaseline%</td>
                            if (item.LastMonthPerformance == "red")
                            {
                                <td>
                                    @item.LastMonthPharmacy%
                                    <img title="down" src="~/Content/img/down.png" class="indicator" />
                                </td>
                            }
                            else if (item.LastMonthPerformance == "green")
                            {
                                <td>
                                    @item.LastMonthPharmacy%
                                    <img title="up" src="~/Content/img/up.png" class="indicator" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.LastMonthPharmacy%
                                </td>
                            }
                            <td>@item.CurrentMonthBaseline%</td>
                            if (item.CurrentMonthPerformance == "red")
                            {
                                <td>
                                    @item.CurrentMonthPharmacy%
                                    <img title="down" src="~/Content/img/down.png" class="indicator" />
                                </td>
                            }
                            else if (item.CurrentMonthPerformance == "green")
                            {
                                <td>
                                    @item.CurrentMonthPharmacy%
                                    <img title="up" src="~/Content/img/up.png" class="indicator" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.CurrentMonthPharmacy%
                                </td>
                            }
                        }
                        else
                        {
                            <td>@item.LastMonthBaseline</td>

                            if (item.LastMonthPerformance == "red")
                            {
                                <td>
                                    @item.LastMonthPharmacy
                                    <img title="down" src="~/Content/img/down.png" class="indicator" />
                                </td>
                            }
                            else if (item.LastMonthPerformance == "green")
                            {
                                <td>
                                    @item.LastMonthPharmacy
                                    <img title="up" src="~/Content/img/up.png" class="indicator" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.LastMonthPharmacy
                                </td>
                            }

                            <td>@item.CurrentMonthBaseline</td>
                            if (item.CurrentMonthPerformance == "red")
                            {
                                <td>
                                    @item.CurrentMonthPharmacy
                                    <img title="down" src="~/Content/img/down.png" class="indicator" />
                                </td>
                            }
                            else if (item.CurrentMonthPerformance == "green")
                            {
                                <td>
                                    @item.CurrentMonthPharmacy
                                    <img title="up" src="~/Content/img/up.png" class="indicator" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.CurrentMonthPharmacy
                                </td>
                            }
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" style="font-size:14px;text-align:center;color:cornflowerblue;font-family:sans-serif;">No data available in table.</td>
                </tr>
            }
        </table>
    </div>
</div>