<!DOCTYPE html>
<html ng-app="ammsAng">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")">
    <title>ASA: AMMS ONLINE</title>
    @Html.Partial("./Template/_IncludeAllScript")
</head>
<body id="doc-body" ng-controller="rootController">

<div id="workingdayloadingImage" class="workingday-loading-div">
    <h3>Please wait.. while checking all the preconditions of working day closing</h3>
    <img src="~/Content/Images/loading.gif" class="workingday-loading-icon"/>
</div> 

<ng-include src="locationStr+'/Scripts/angular-scripts/Templates/Miscellaneous/submenu-partial.html'"></ng-include>


    <div class="container body-content">
        @Html.Partial("./Template/_NavbarPartial")
        <div class="row" ng-controller="tabController" id="mainDivForSlowLoad">
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("./Template/_SideBarPartial")
            }
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", false)
</body>
</html>
