@using ArmadaReports.Web.Repository
<!--school count modal-->
<div id="school-count-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content medium-wide-modal-dialog">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Large View</h5>
            </div>
            <div class="modal-body epipen-modal-body-height">
                <div class="form-inline">
                    <div class="form-group">
                        <select id="school-count-lg-inpCustomerCategory" class="form-control form-control-height" title="select customer category">
                            <option value="All">All</option>
                            <option value="Disney">Disney</option>
                            <option value="Schools">Schools</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group epipen-date date" data-provide="datepicker">
                            <input id="school-count-lg-begin-date" data-format="yyyy-MM-dd" type="text" class="form-control" title="select a begin date" value="@DateUtility.ThisMonth(DateTime.Today).Start.ToString("yyyy-MM-dd")">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group epipen-date date" data-provide="datepicker">
                            <input id="school-count-lg-end-date" data-format="yyyy-MM-dd" type="text" class="form-control" title="select a end date" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input class="radio-inline-input" type="radio" name="sclgreleasedate" id="school-count-lg-by-state" value="" checked="checked"> By State
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input class="radio-inline-input" type="radio" name="sclgreleasedate" id="school-count-lg-by-date" value="ReleaseDate"> By Date
                        </label>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-arrow-circle-o-right submit-icon" title="submit" onclick="epipenService.getLgSchoolCounts('na')"></span>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-download download-icon" title="download summary to an excel" onclick="epipenTableWrapper.downloadSchoolCountSummaryPopup()"></span>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-download download-icon" title="download summary and details to an excel" onclick="epipenTableWrapper.downloadSchoolCountSummaryAndDetailsPopup()"></span>
                    </div>
                    <img id="school-count-lg-loading" src="~/Content/images/loading_blue_lg.gif" class="loading-epipen" />
                </div>
                <div class="epipen-lg-chart-container" id="school-count-lg-table-div">
                    <table id="school-count-lg-table" class="table table-bordered table-hover epipen-table">
                        <thead>
                            <tr>
                                <td>School State</td>
                                <td>Total Unique School</td>
                                <td>Total School</td>
                                <td>Differences</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="btn-group-container-d">
                    <div id="school-count-bg-lg" class="btn-group" role="group" aria-label="">
                        <button type="button" data-date="today" class="btn btn-primary custom-btn-group btn-selected" onclick="utility.dateBtnClick('school-count-bg-lg', this, epipenService.getLgSchoolCounts)">Today</button>
                        <button type="button" data-date="yesterday" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('school-count-bg-lg', this, epipenService.getLgSchoolCounts)">Yesterday</button>
                        <button type="button" data-date="thisweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('school-count-bg-lg', this, epipenService.getLgSchoolCounts)">This Week</button>
                        <button type="button" data-date="lastweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('school-count-bg-lg', this, epipenService.getLgSchoolCounts)">Last Week</button>
                        <button type="button" data-date="currentmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('school-count-bg-lg', this, epipenService.getLgSchoolCounts)">Current Month</button>
                        <button type="button" data-date="lastmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('school-count-bg-lg', this, epipenService.getLgSchoolCounts)">Last Month</button>
                        <button type="button" data-date="ytd" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('school-count-bg-lg', this, epipenService.getLgSchoolCounts)">YTD</button>
                        <button type="button" data-date="allorders" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('school-count-bg-lg', this, epipenService.getLgSchoolCounts)">All Orders</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--new repeat count modal-->
<div id="new-repeat-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content medium-wide-modal-dialog">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Large View</h5>
            </div>
            <div class="modal-body epipen-modal-body-height">
                <div class="form-inline">
                    <div class="form-group">
                        <select id="new-repeat-lg-inpCustomerCategory" class="form-control form-control-height" title="select customer category" onchange="">
                            <option value="All">All</option>
                            <option value="Disney">Disney</option>
                            <option value="Schools">Schools</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="new-repeat-lg-state" class="form-control form-control-height" title="select state" onchange="">
                            <option row="1" selected="True" value="All" title="Select a state">All</option>
                            <option row="2" value="AK" title="Select a state">AK</option>
                            <option row="3" value="AL" title="Select a state">AL</option>
                            <option row="4" value="AR" title="Select a state">AR</option>
                            <option row="5" value="AZ" title="Select a state">AZ</option>
                            <option row="6" value="CA" title="Select a state">CA</option>
                            <option row="7" value="CO" title="Select a state">CO</option>
                            <option row="8" value="CT" title="Select a state">CT</option>
                            <option row="9" value="DC" title="Select a state">DC</option>
                            <option row="10" value="DE" title="Select a state">DE</option>
                            <option row="11" value="FL" title="Select a state">FL</option>
                            <option row="12" value="GA" title="Select a state">GA</option>
                            <option row="13" value="HI" title="Select a state">HI</option>
                            <option row="14" value="IA" title="Select a state">IA</option>
                            <option row="15" value="ID" title="Select a state">ID</option>
                            <option row="16" value="IL" title="Select a state">IL</option>
                            <option row="17" value="IN" title="Select a state">IN</option>
                            <option row="18" value="KS" title="Select a state">KS</option>
                            <option row="19" value="KY" title="Select a state">KY</option>
                            <option row="20" value="LA" title="Select a state">LA</option>
                            <option row="21" value="MA" title="Select a state">MA</option>
                            <option row="22" value="MD" title="Select a state">MD</option>
                            <option row="23" value="ME" title="Select a state">ME</option>
                            <option row="24" value="MI" title="Select a state">MI</option>
                            <option row="25" value="MN" title="Select a state">MN</option>
                            <option row="26" value="MO" title="Select a state">MO</option>
                            <option row="27" value="MS" title="Select a state">MS</option>
                            <option row="28" value="MT" title="Select a state">MT</option>
                            <option row="29" value="NC" title="Select a state">NC</option>
                            <option row="30" value="ND" title="Select a state">ND</option>
                            <option row="31" value="NE" title="Select a state">NE</option>
                            <option row="32" value="NH" title="Select a state">NH</option>
                            <option row="33" value="NJ" title="Select a state">NJ</option>
                            <option row="34" value="NM" title="Select a state">NM</option>
                            <option row="35" value="NV" title="Select a state">NV</option>
                            <option row="36" value="NY" title="Select a state">NY</option>
                            <option row="37" value="OH" title="Select a state">OH</option>
                            <option row="38" value="OK" title="Select a state">OK</option>
                            <option row="39" value="OR" title="Select a state">OR</option>
                            <option row="40" value="PA" title="Select a state">PA</option>
                            <option row="41" value="PR" title="Select a state">PR</option>
                            <option row="42" value="RI" title="Select a state">RI</option>
                            <option row="43" value="SC" title="Select a state">SC</option>
                            <option row="44" value="SD" title="Select a state">SD</option>
                            <option row="45" value="TN" title="Select a state">TN</option>
                            <option row="46" value="TX" title="Select a state">TX</option>
                            <option row="47" value="UT" title="Select a state">UT</option>
                            <option row="48" value="VA" title="Select a state">VA</option>
                            <option row="49" value="VI" title="Select a state">VI</option>
                            <option row="50" value="VT" title="Select a state">VT</option>
                            <option row="51" value="WA" title="Select a state">WA</option>
                            <option row="52" value="WI" title="Select a state">WI</option>
                            <option row="53" value="WV" title="Select a state">WV</option>
                            <option row="54" value="WY" title="Select a state">WY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="new-repeat-lg-year" class="form-control form-control-height" title="select a year" onchange="">
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2016">2017</option>
                            <option value="2016">2018</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-arrow-circle-o-right submit-icon" title="submit" onclick="epipenService.getLgNewRepeatCustomers()"></span>
                    </div>
                    <div class="form-group pull-right">
                        <span class="fa fa-download download-icon" title="download summary and details to an excel" onclick="epipenTableWrapper.downloadNewRepeatSummaryAndDetailsPopup()"></span>
                    </div>
                    <div class="form-group pull-right">
                        <span class="fa fa-download download-icon" title="download summary to an excel" onclick="epipenTableWrapper.downloadNewRepeatSummaryAndDetailsPopup()"></span>
                    </div>
                    <img id="new-repeat-lg-loading" src="~/Content/images/loading_blue_lg.gif" class="loading-epipen" />
                </div>
                <div class="epipen-lg-chart-container" id="new-repeat-lg-table-div">
                    <table id="new-repeat-lg-table" class="table table-bordered table-hover epipen-table">
                        <thead>
                            <tr>
                                <td>School State</td>
                                <td>New</td>
                                <td>Repeat</td>
                                <td>Customers</td>
                                <td>Total Customers</td>
                                <td>Perticipated Schools %</td>
                                <td>2016 Enrollment %</td>
                                <td>Total Enrollment %</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--product mix count modal-->
<div id="product-mix-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content medium-wide-modal-dialog">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Large View</h5>
            </div>
            <div class="modal-body epipen-modal-body-height">
                <div class="form-inline">
                    <div class="form-group">
                        <select id="product-mix-lg-inpCustomerCategory" class="form-control form-control-height" title="select customer category" onchange=" epipenService.getLgProductMix() ">
                            <option value="All">All</option>
                            <option value="Disney">Disney</option>
                            <option value="Schools">Schools</option>
                        </select>
                    </div>
                    <img id="product-mix-lg-loading" src="~/Content/images/loading_blue_lg.gif" class="loading-epipen"/>
                </div>

                <div style="display: none;" id="product-mix-no-data-d" class="no-data-div-d">
                    <span>No data available for this time period</span>
                </div>
                <div class="epipen-lg-piechart-container" id="product-mix-lg-chart"></div>
                <div id="product-mix-lg-chart-title" class="chart-title"></div>

                <div class="btn-group-container-d">
                    <div id="product-mix-bg-lg" class="btn-group" role="group" aria-label="">
                        <button type="button" data-date="today" class="btn btn-primary custom-btn-group btn-selected" onclick="utility.dateBtnClick('product-mix-bg-lg', this, epipenService.getLgProductMix)">Today</button>
                        <button type="button" data-date="yesterday" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('product-mix-bg-lg', this, epipenService.getLgProductMix)">Yesterday</button>
                        <button type="button" data-date="thisweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('product-mix-bg-lg', this, epipenService.getLgProductMix)">This Week</button>
                        <button type="button" data-date="lastweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('product-mix-bg-lg', this, epipenService.getLgProductMix)">Last Week</button>
                        <button type="button" data-date="currentmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('product-mix-bg-lg', this, epipenService.getLgProductMix)">Current Month</button>
                        <button type="button" data-date="lastmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('product-mix-bg-lg', this, epipenService.getLgProductMix)">Last Month</button>
                        <button type="button" data-date="ytd" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('product-mix-bg-lg', this, epipenService.getLgProductMix)">YTD</button>
                        <button type="button" data-date="allorders" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('product-mix-bg-lg', this, epipenService.getLgProductMix)">All Orders</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--order qty count modal-->
<div id="order-qty-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content medium-wide-modal-dialog">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Large View</h5>
            </div>
            <div class="modal-body epipen-modal-body-height">
                <div class="form-inline">
                    <div class="form-group">
                        <select id="order-qty-lg-inpCustomerCategory" class="form-control form-control-height" title="select customer category" onchange="">
                            <option value="All">All</option>
                            <option value="Disney">Disney</option>
                            <option value="Schools">Schools</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group epipen-date date" data-provide="datepicker">
                            <input id="order-qty-lg-begin-date" type="text" class="form-control" title="select a begin date" value="@DateUtility.ThisMonth(DateTime.Today).Start.ToString("yyyy-MM-dd")">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group epipen-date date" data-provide="datepicker">
                            <input id="order-qty-lg-end-date" type="text" class="form-control" title="select a end date" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input class="radio-inline-input" type="radio" name="oqlgreleasedate" id="order-qty-lg-by-state" value="" checked="checked"> By State
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input class="radio-inline-input" type="radio" name="oqlgreleasedate" id="order-qty-lg-by-date" value="ReleaseDate"> By Date
                        </label>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-arrow-circle-o-right submit-icon" title="submit" onclick="epipenService.getLgOrderQtys('na')"></span>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-download download-icon" title="download summary to an excel" onclick="epipenTableWrapper.downloadOrderQtySummaryPopup()"></span>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-download download-icon" title="download summary and details to an excel" onclick="epipenTableWrapper.downloadOrderQtySummaryAndDetailsPopup()"></span>
                    </div>
                    <img id="order-qty-lg-loading" src="~/Content/images/loading_blue_lg.gif" class="loading-epipen" />
                </div>
                <div class="epipen-lg-chart-container" id="order-qty-lg-table-div">
                    <table id="order-qty-lg-table" class="table table-bordered table-hover epipen-table">
                        <thead>
                            <tr>
                                <td>School State</td>
                                <td>Total Unique School</td>
                                <td>Reg Free Qty</td>
                                <td>Reg Repl Qty</td>
                                <td>Reg Disc Qty</td>
                                <td>Jr Free Qty</td>
                                <td>Jr Repl Qty</td>
                                <td>Jr Disc Qty</td>
                                <td>Other Free Qty</td>
                                <td>Total Units</td>
                                <td style="background-color: #fff; width: 10px !important;"></td>
                                <td>Box Qty</td>
                                <td>Videos Qty</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="btn-group-container-d">
                    <div id="order-qty-bg-lg" class="btn-group" role="group" aria-label="">
                        <button type="button" data-date="today" class="btn btn-primary custom-btn-group btn-selected" onclick="utility.dateBtnClick('order-qty-bg-lg', this, epipenService.getLgOrderQtys)">Today</button>
                        <button type="button" data-date="yesterday" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-qty-bg-lg', this, epipenService.getLgOrderQtys)">Yesterday</button>
                        <button type="button" data-date="thisweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-qty-bg-lg', this, epipenService.getLgOrderQtys)">This Week</button>
                        <button type="button" data-date="lastweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-qty-bg-lg', this, epipenService.getLgOrderQtys)">Last Week</button>
                        <button type="button" data-date="currentmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-qty-bg-lg', this, epipenService.getLgOrderQtys)">Current Month</button>
                        <button type="button" data-date="lastmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-qty-bg-lg', this, epipenService.getLgOrderQtys)">Last Month</button>
                        <button type="button" data-date="ytd" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-qty-bg-lg', this, epipenService.getLgOrderQtys)">YTD</button>
                        <button type="button" data-date="allorders" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-qty-bg-lg', this, epipenService.getLgOrderQtys)">All Orders</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--order map count modal-->
<div id="order-map-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content medium-wide-modal-dialog">
            <div class="modal-header modal-custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Large View</h5>
            </div>
            <div class="modal-body epipen-modal-body-height">
                <div class="form-inline">
                    <div class="form-group">
                        <select id="order-map-lg-inpCustomerCategory" class="form-control form-control-height" title="select customer category">
                            <option value="All">All</option>
                            <option value="Disney">Disney</option>
                            <option value="Schools">Schools</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group epipen-date date" data-provide="datepicker">
                            <input id="order-map-lg-begin-date" type="text" class="form-control" title="select a begin date" value="@DateUtility.ThisMonth(DateTime.Today).Start.ToString("yyyy-MM-dd")">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group epipen-date date" data-provide="datepicker">
                            <input id="order-map-lg-end-date" type="text" class="form-control" title="select a end date" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="fa fa-arrow-circle-o-right submit-icon" title="submit" onclick="epipenService.getLgOrderMap('na')"></span>
                    </div>
                    <img id="order-map-lg-loading" src="~/Content/images/loading_blue_lg.gif" class="loading-epipen" />
                </div>
                <div class="epipen-chart-container" id="order-map-lg-table-div">
                    <div style="width: 100%">
                        <div id="order-lg-usmap" class="epipen-lg-map-container"></div>
                        <div class="epipen-lg-map-legend-div">
                            <table>
                                <tr id="order-lg-mr-tr-limit-1">
                                    <td>
                                        <div class="box-div bg1-5"></div>
                                    </td>
                                    <td id="order-lg-mr-limit-1"></td>
                                </tr>
                                <tr id="order-lg-mr-tr-limit-2">
                                    <td>
                                        <div class="box-div bg6-10"></div>
                                    </td>
                                    <td id="order-lg-mr-limit-2"></td>
                                </tr>
                                <tr id="order-lg-mr-tr-limit-3">
                                    <td>
                                        <div class="box-div bg11-15"></div>
                                    </td>
                                    <td id="order-lg-mr-limit-3"></td>
                                </tr>
                                <tr id="order-lg-mr-tr-limit-4">
                                    <td>
                                        <div class="box-div bg16-20"></div>
                                    </td>
                                    <td id="order-lg-mr-limit-4"></td>
                                </tr>
                                <tr id="order-lg-mr-tr-limit-5">
                                    <td>
                                        <div class="box-div bg21-25"></div>
                                    </td>
                                    <td id="order-lg-mr-limit-5"></td>
                                </tr>
                                <tr id="order-lg-mr-tr-limit-6">
                                    <td>
                                        <div class="box-div bg26-above"></div>
                                    </td>
                                    <td id="order-lg-mr-limit-6"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="order-lg-usmap-title" class="map-title"></div>
                </div>

                <div class="btn-group-container-d">
                    <div id="order-map-bg-lg" class="btn-group" role="group" aria-label="">
                        <button type="button" data-date="today" class="btn btn-primary custom-btn-group btn-selected" onclick="utility.dateBtnClick('order-map-bg-lg', this, epipenService.getLgOrderMap)">Today</button>
                        <button type="button" data-date="yesterday" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-map-bg-lg', this, epipenService.getLgOrderMap)">Yesterday</button>
                        <button type="button" data-date="thisweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-map-bg-lg', this, epipenService.getLgOrderMap)">This Week</button>
                        <button type="button" data-date="lastweek" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-map-bg-lg', this, epipenService.getLgOrderMap)">Last Week</button>
                        <button type="button" data-date="currentmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-map-bg-lg', this, epipenService.getLgOrderMap)">Current Month</button>
                        <button type="button" data-date="lastmonth" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-map-bg-lg', this, epipenService.getLgOrderMap)">Last Month</button>
                        <button type="button" data-date="ytd" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-map-bg-lg', this, epipenService.getLgOrderMap)">YTD</button>
                        <button type="button" data-date="allorders" class="btn btn-primary custom-btn-group" onclick="utility.dateBtnClick('order-map-bg-lg', this, epipenService.getLgOrderMap)">All Orders</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

