

@using ArmadaReports.Web.Repository
@model List<ArmadaReports.Web.Models.Epipen.EpipenOrderDetails>
<div class="row row-margin">
<div class="col-md-12 epipen-report-div-offset">
    <img id="epipen-order-details-loaidng" src="~/Content/images/loading_blue_lg.gif" class="epipen-details-loading" />
    <table class="form-table">
        <tr>
            <td>
                <label for="inpCustomerCategory">Customer Category:</label>
                <select title="Select a customer category" id="inpCustomerCategory" name="inpCustomerCategory" class="form-control" onchange=" epipenService.getSchoolZips() ">
                    <option row="1" selected="selected" value="All" title="Select a customer category">All</option>
                    <option row="2" value="Disney" title="Select a customer category">Disney</option>
                    <option row="3" value="Schools" title="Select a customer category">Schools</option>
                </select>
            </td>
            <td>
                <label for="order-qty-begin-date">Processed From:</label>
                <div class="input-group epipen-date date" data-provide="datepicker">
                    <input id="order-qty-begin-date" type="text" class="form-control" title="select a begin date" value="@DateUtility.ThisMonth(DateTime.Today).Start.ToString("yyyy-MM-dd")">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <label for="order-qty-end-date">Processed To:</label>
                <div class="input-group epipen-date date" data-provide="datepicker">
                    <input id="order-qty-end-date" type="text" class="form-control" title="select a end date" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

                <label for="order-qty-order-begin-date">Order From:</label>
                <div class="input-group epipen-date date" data-provide="datepicker">
                    <input id="order-qty-order-begin-date" type="text" class="form-control" title="select a begin date" value="@DateUtility.ThisMonth(DateTime.Today).Start.ToString("yyyy-MM-dd")">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <label for="order-qty-order-end-date">Order To:</label>
                <div class="input-group epipen-date date" data-provide="datepicker">
                    <input id="order-qty-order-end-date" type="text" class="form-control" title="select a end date" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </td>
            <td>
                <label for="state">State:</label>
                <select style="width: 75px;" size="11" multiple="multiple" id="state" name="state" class="form-control" onchange=" epipenService.getSchoolZips() ">
                    <option row="1" value="All" selected="selected">All</option>
                    <option row="2" value="AK">AK</option>
                    <option row="3" value="AL">AL</option>
                    <option row="4" value="AR">AR</option>
                    <option row="5" value="AZ">AZ</option>
                    <option row="6" value="CA">CA</option>
                    <option row="7" value="CO">CO</option>
                    <option row="8" value="CT">CT</option>
                    <option row="9" value="DC">DC</option>
                    <option row="10" value="DE">DE</option>
                    <option row="11" value="FL">FL</option>
                    <option row="12" value="GA">GA</option>
                    <option row="13" value="HI">HI</option>
                    <option row="14" value="IA">IA</option>
                    <option row="15" value="ID">ID</option>
                    <option row="16" value="IL">IL</option>
                    <option row="17" value="IN">IN</option>
                    <option row="18" value="KS">KS</option>
                    <option row="19" value="KY">KY</option>
                    <option row="20" value="LA">LA</option>
                    <option row="21" value="MA">MA</option>
                    <option row="22" value="MD">MD</option>
                    <option row="23" value="ME">ME</option>
                    <option row="24" value="MI">MI</option>
                    <option row="25" value="MN">MN</option>
                    <option row="26" value="MO">MO</option>
                    <option row="27" value="MS">MS</option>
                    <option row="28" value="MT">MT</option>
                    <option row="29" value="NC">NC</option>
                    <option row="30" value="ND">ND</option>
                    <option row="31" value="NE">NE</option>
                    <option row="32" value="NH">NH</option>
                    <option row="33" value="NJ">NJ</option>
                    <option row="34" value="NM">NM</option>
                    <option row="35" value="NV">NV</option>
                    <option row="36" value="NY">NY</option>
                    <option row="37" value="OH">OH</option>
                    <option row="38" value="OK">OK</option>
                    <option row="39" value="OR">OR</option>
                    <option row="40" value="PA">PA</option>
                    <option row="41" value="PR">PR</option>
                    <option row="42" value="RI">RI</option>
                    <option row="43" value="SC">SC</option>
                    <option row="44" value="SD">SD</option>
                    <option row="45" value="TN">TN</option>
                    <option row="46" value="TX">TX</option>
                    <option row="47" value="UT">UT</option>
                    <option row="48" value="VA">VA</option>
                    <option row="49" value="VI">VI</option>
                    <option row="50" value="VT">VT</option>
                    <option row="51" value="WA">WA</option>
                    <option row="52" value="WI">WI</option>
                    <option row="53" value="WV">WV</option>
                    <option row="54" value="WY">WY</option>
                </select>
            </td>
            <td>
                <label for="inpSchoolZip">School Zip:</label>
                <select size="11" multiple="multiple" id="inpSchoolZip" name="inpSchoolZip" class="form-control" onchange=" epipenService.getSchoolNames(true) "></select>
            </td>
            <td>
                <label for="inpSchoolID">School Name:</label>
                <div class="input-group">
                    <input type="text" name="inpSchoolIDSrc" id="inpSchoolIDSrc" class="form-control"/>
                    <div class="input-group-addon">
                        <i style="cursor: pointer;" class="fa fa-search" onclick=" epipenService.getSchoolNamesStr(true) "></i>
                    </div>
                    <div class="input-group-addon">
                        <i style="cursor: pointer;" class="fa fa-refresh" onclick=" epipenService.getSchoolNames(true) "></i>
                    </div>
                </div>
                <select size="9" multiple="multiple" id="inpSchoolID" name="inpSchoolID" class="form-control"></select>
            </td>
            <td>
                <label for="batchId">Batch ID:</label>
                <select style="width: 90px;" size="11" multiple="multiple" id="batchId" name="batchId" class="form-control" onchange=" epipenService.onBatchIdChanged() "></select>
            </td>
            <td>
                <label for="orderId">Order ID:</label>
                <div style="width: 150px;" class="input-group">
                    <input type="text" name="orderIdSrc" id="orderIdSrc" class="form-control"/>
                    <div class="input-group-addon">
                        <i style="cursor: pointer;" class="fa fa-search" onclick="epipenService.getOrderIdsStr(true)"></i>
                    </div>
                    <div class="input-group-addon">
                        <i style="cursor: pointer;" class="fa fa-refresh" onclick="epipenService.getOrderIds(true)"></i>
                    </div>
                </div>
                <select size="9" multiple="multiple" id="orderId" name="orderId" class="form-control" onchange="epipenService.onOrderIdChanged()"></select>
            </td>
            <td>
                <label for="inpPharmacy">Pharmacy:</label>
                <select size="11" multiple="multiple" id="inpPharmacy" name="inpPharmacy" class="form-control"></select>
            </td>
            <td>
                <label for="inpDoctor">Doctor Name:</label>
                <select size="11" multiple="multiple" id="inpDoctor" name="inpDoctor" class="form-control"></select>
            </td>
            <td>
                <label for="inpContactName">Contact Name:</label>
                <select size="11" multiple="multiple" id="inpContactName" name="inpContactName" class="form-control"></select>
            </td>
        </tr>
    </table>
    <hr class="form-separator"/>
</div>
    <div class="col-md-8 col-md-offset-2 epipen-report-div-offset">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">State Summary</h4>
            </div>
            <div class="panel-body">
                <div class="form-inline" style="text-align: center; margin-bottom: 10px;">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input class="radio-inline-input" type="radio" name="oqreleasedate" id="order-qty-by-state" value="" checked="checked" onchange="epipenDetailsWrapper.onOrderDetailsSubmit()"> By State
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input class="radio-inline-input" type="radio" name="oqreleasedate" id="order-qty-by-date" value="ReleaseDate" onchange="epipenDetailsWrapper.onOrderDetailsSubmit()"> By Date
                        </label>
                    </div>
                </div>
                <table id="order-qty-table" class="table table-bordered table-hover aspn-table">
                    <thead>
                        <tr>
                            <td>School State</td>
                            <td>Reg Free Qty</td>
                            <td>Reg Repl Qty</td>
                            <td>Reg Disc Qty</td>
                            <td>Jr Free Qty</td>
                            <td>Jr Repl Qty</td>
                            <td>Jr Disc Qty</td>
                            <td>Other Free Qty</td>
                            <td>Total Units</td>
                            <td></td>
                            <td>Box Qty</td>
                            <td>Videos Qty</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary pull-left" onclick="epipenDetailsWrapper.onOrderDetailsSubmit()">Run Report</button>
    </div>
    <div class="col-md-6 col-md-offset-3"></div>
    <div class="col-md-3">
        <a id="order-details-excel" target="_blank" class="btn btn-primary pull-right">Create Spreadsheet</a>
    </div>
    <div class="col-md-12" style="margin-top: 10px;">
        <table id="order-details-details-table" class="table table-bordered aspn-table">
            <thead>
                <tr>
                    <td>School State</td>
                    <td>School Name</td>
                    <td>School ID</td>
                    <td>Processed Date</td>
                    <td>School Zip</td>
                    <td>Batch ID</td>
                    <td>Order Date</td>
                    <td>Order ID</td>
                    <td>Pharmacy Name</td>
                    <td>Doctor Name</td>
                    <td>Contact Name</td>
                    <td>Contact Address1</td>
                    <td>Contact Address2</td>
                    <td>Contact City</td>
                    <td>Contact State</td>
                    <td>Contact Zip</td>
                    <td>Contact Email Address</td>
                    <td>Contact Phone</td>
                    <td></td>
                    <td>Reg Free Qty</td>
                    <td>Reg Repl Qty</td>
                    <td>Reg Disc Qty</td>
                    <td>Jr Free Qty</td>
                    <td>Jr Repl Qty</td>
                    <td>Jr Disc Qty</td>
                    <td>Other Free Qty</td>
                    <td>Total Units</td>
                    <td></td>
                    <td>Box Qty</td>
                    <td>Videos Qty</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SchoolState</td>
                        <td>@item.SchoolName</td>
                        <td>@item.SchoolId</td>
                        <td>@item.ReleaseDate</td>
                        <td>@item.SchoolZip</td>
                        <td>@item.BatchID</td>
                        <td>@item.OrderDate</td>
                        <td>@item.OrderID</td>
                        <td>@item.PharmacyName</td>
                        <td>@item.DoctorName</td>
                        <td>@item.ContactName</td>
                        <td>@item.ContactAddress1</td>
                        <td>@item.ContactAddress2</td>
                        <td>@item.ContactCity</td>
                        <td>@item.ContactState</td>
                        <td>@item.ContactZip</td>
                        <td>@item.ContactEmailAddress</td>
                        <td>@item.ContactPhone</td>
                        <td></td>
                        <td>@item.RegFreeQty</td>
                        <td>@item.RegReplQty</td>
                        <td>@item.RegDiscQty</td>
                        <td>@item.JrFreeQty</td>
                        <td>@item.JrReplQty</td>
                        <td>@item.JrDiscQty</td>
                        <td>@item.OtherFreeQty</td>
                        <td>@item.TotalUnits</td>
                        <td></td>
                        <td>@item.BoxQty</td>
                        <td>@item.VideosQty</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#send-mail-id').hide();
        $('.epipen-date').datepicker({
            format: 'yyyy-mm-dd'
        });
        epipenDetailsWrapper.orderDetailsInit();
        epipenService.getSchoolZips(true);
        service.getExportUrl('order-details-excel', '@ViewData["excelurl"]');
        setTimeout(function () {
            $('#inpCustomerCategory').val('@ViewData["category"]');
            $('#state').val('@ViewData["state"]');
            $('#inpSchoolZip').val('@ViewData["zip"]');
            $('#inpSchoolID').val('@ViewData["schoolid"]');
            $('#order-qty-begin-date').val('@ViewData["begdate"]');
            $('#order-qty-end-date').val('@ViewData["enddate"]');
            $('#order-qty-order-begin-date').val('@ViewData["orderbegdate"]');
            $('#order-qty-order-end-date').val('@ViewData["orderenddate"]');
            $('#batchId').val('@ViewData["batchid"]' === '-1' ? 'All' : '@ViewData["batchid"]');
            $('#orderId').val('@ViewData["orderid"]' === '-1' ? 'All' : '@ViewData["orderid"]');
            $('#inpPharmacy').val('@ViewData["inppharmacy"]');
            $('#inpDoctor').val('@ViewData["inpdoctor"]');
            $('#inpContactName').val('@ViewData["inpcontactname"]');
            if ('@ViewData["releasedate"]' === 'ReleaseDate') {
                $('#order-qty-by-date').prop('checked', true);
            } else {
                $('#order-qty-by-state').prop('checked', true);
            }
            epipenService.getDetailsOrderQtys('@ViewData["begdate"]', '@ViewData["enddate"]', '@ViewData["category"]', '@ViewData["disneyschoolid"]', '@ViewData["releasedate"]', '@ViewData["begdate"]', '@ViewData["state"]');
        }, 2000);
    });
</script>
