@model List<ArmadaReports.Web.Models.Epipen.NewRepeatCustomerDetails>
<div class="row row-margin">
    <div class="col-md-6 col-md-offset-3 epipen-report-div-offset">
        <img id="epipen-order-details-loaidng" src="~/Content/images/loading_blue_lg.gif" class="epipen-details-loading" />
        <table class="form-table">
            <tr>
                <td>
                    <button class="btn btn-primary" onclick="epipenDetailsWrapper.onNewRepeatSubmit()">Run Report</button>
                </td>
                <td>
                    <label for="inpCustomerCategory">Customer Category:</label>
                    <select title="Select a customer category" id="inpCustomerCategory" name="inpCustomerCategory" class="form-control" onchange=" epipenService.getSchoolZips() ">
                        <option row="1" selected="selected" value="All" title="Select a customer category">All</option>
                        <option row="2" value="Disney" title="Select a customer category">Disney</option>
                        <option row="3" value="Schools" title="Select a customer category">Schools</option>
                    </select>
                    <label for="inpYear">Year:</label>
                    <select id="inpYear" name="inpYear" class="form-control">
                        <option row="1" value="2012">2012</option>
                        <option row="2" value="2013">2013</option>
                        <option row="3" value="2014">2014</option>
                        <option row="4" value="2015">2015</option>
                        <option row="5" value="2016">2016</option>
                        <option row="5" selected="selected" value="2017">2017</option>
                    </select>
                </td>
                <td>
                    <label for="state">State:</label>
                    <select size="11" multiple="multiple" id="state" name="state" class="form-control" onchange=" epipenService.getSchoolZips() ">
                        <option row="1" value="All" selected="selected">All</option>
                        <option row="2" value="AK">AK</option>
                        <option row="3" value="AL">AL</option>
                        <option row="4" value="AR">AR</option>
                        <option row="5" value="AZ">AZ</option>
                        <option row="6" value="CA">CA</option>
                        <option row="7" value="CO">CO</option>
                        <option row="8" value="CT">CT</option>
                        <option row="9" value="DC">DC</option>
                        <option row="10" value="DE">DE</option>
                        <option row="11" value="FL">FL</option>
                        <option row="12" value="GA">GA</option>
                        <option row="13" value="HI">HI</option>
                        <option row="14" value="IA">IA</option>
                        <option row="15" value="ID">ID</option>
                        <option row="16" value="IL">IL</option>
                        <option row="17" value="IN">IN</option>
                        <option row="18" value="KS">KS</option>
                        <option row="19" value="KY">KY</option>
                        <option row="20" value="LA">LA</option>
                        <option row="21" value="MA">MA</option>
                        <option row="22" value="MD">MD</option>
                        <option row="23" value="ME">ME</option>
                        <option row="24" value="MI">MI</option>
                        <option row="25" value="MN">MN</option>
                        <option row="26" value="MO">MO</option>
                        <option row="27" value="MS">MS</option>
                        <option row="28" value="MT">MT</option>
                        <option row="29" value="NC">NC</option>
                        <option row="30" value="ND">ND</option>
                        <option row="31" value="NE">NE</option>
                        <option row="32" value="NH">NH</option>
                        <option row="33" value="NJ">NJ</option>
                        <option row="34" value="NM">NM</option>
                        <option row="35" value="NV">NV</option>
                        <option row="36" value="NY">NY</option>
                        <option row="37" value="OH">OH</option>
                        <option row="38" value="OK">OK</option>
                        <option row="39" value="OR">OR</option>
                        <option row="40" value="PA">PA</option>
                        <option row="41" value="PR">PR</option>
                        <option row="42" value="RI">RI</option>
                        <option row="43" value="SC">SC</option>
                        <option row="44" value="SD">SD</option>
                        <option row="45" value="TN">TN</option>
                        <option row="46" value="TX">TX</option>
                        <option row="47" value="UT">UT</option>
                        <option row="48" value="VA">VA</option>
                        <option row="49" value="VI">VI</option>
                        <option row="50" value="VT">VT</option>
                        <option row="51" value="WA">WA</option>
                        <option row="52" value="WI">WI</option>
                        <option row="53" value="WV">WV</option>
                        <option row="54" value="WY">WY</option>
                    </select>
                </td>
                <td>
                    <label for="inpSchoolZip">School Zip:</label>
                    <select size="11" multiple="multiple" id="inpSchoolZip" name="inpSchoolZip" class="form-control" onchange=" epipenService.getSchoolNames() "></select>
                </td>
                <td>
                    <label for="inpSchoolID">School Name:</label>
                    <div class="input-group">
                        <input type="text" name="inpSchoolIDSrc" id="inpSchoolIDSrc" class="form-control"/>
                        <div class="input-group-addon">
                            <i style="cursor: pointer;" class="fa fa-search" onclick=" epipenService.getSchoolNamesStr() "></i>
                        </div>
                        <div class="input-group-addon">
                            <i style="cursor: pointer;" class="fa fa-refresh" onclick=" epipenService.getSchoolNames() "></i>
                        </div>
                    </div>
                    <select size="9" multiple="multiple" id="inpSchoolID" name="inpSchoolID" class="form-control"></select>
                </td>
            </tr>
        </table>
        <hr class="form-separator"/>
    </div>
    <div class="col-md-6 col-md-offset-3 epipen-report-div-offset">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">State Summary - New and Repeat Customers</h4>
            </div>
            <div class="panel-body">
                <table id="new-repeat-table" class="table table-bordered aspn-table">
                    <thead>
                        <tr>
                            <td>School State</td>
                            <td>School Name</td>
                            <td>School ID</td>
                            <td>School Zip</td>
                            <td>New @ViewData["year"]</td>
                            <td>Repeat @ViewData["year"]</td>
                            <td>Customer @ViewData["year"]</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SchoolState</td>
                                <td>@item.SchoolName</td>
                                <td>@item.SchoolId</td>
                                <td>@item.SchoolZip</td>
                                @if (@ViewData["year"].Equals(2012))
                                {
                                    <td>@item.New2012</td>
                                    <td>@item.Repeat2012</td>
                                    <td>@item.Customer2012</td>
                                }
                                else if (@ViewData["year"].Equals(2013))
                                {
                                    <td>@item.New2013</td>
                                    <td>@item.Repeat2013</td>
                                    <td>@item.Customer2013</td>
                                }
                                else if (@ViewData["year"].Equals(2014))
                                {
                                    <td>@item.New2014</td>
                                    <td>@item.Repeat2014</td>
                                    <td>@item.Customer2014</td>
                                }
                                else if (@ViewData["year"].Equals(2015))
                                {
                                    <td>@item.New2015</td>
                                    <td>@item.Repeat2015</td>
                                    <td>@item.Customer2015</td>
                                }
                                else if (@ViewData["year"].Equals(2016))
                                {
                                    <td>@item.New2016</td>
                                    <td>@item.Repeat2016</td>
                                    <td>@item.Customer2016</td>
                                }
                                else if (@ViewData["year"].Equals(2017))
                                {
                                    <td>@item.New2017</td>
                                    <td>@item.Repeat2017</td>
                                    <td>@item.Customer2017</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <a id="new-repeat-excel" target="_blank" class="btn btn-primary pull-right">Create Spreadsheet</a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#send-mail-id').hide();
        epipenDetailsWrapper.init();
        epipenService.getSchoolZips();
        service.getExportUrl('new-repeat-excel', '@ViewData["excelurl"]');
        setTimeout(function () {
            $('#inpCustomerCategory').val('@ViewData["category"]');
            $('#inpYear').val('@ViewData["year"]');
            $('#state').val('@ViewData["state"]');
            $('#inpSchoolZip').val('@ViewData["zip"]');
            $('#inpSchoolID').val('@ViewData["schoolid"]');
            epipenService.getSchoolNames();
        }, 2000);
    });
</script>