@model List<ArmadaReports.Web.Models.PatientEnrollment>
<div class="row row-margin">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <a id="pdf-export" style="display: none;" target="_blank" class="btn btn-primary">Create PDF Document</a>
        <a id="excel-export"  style="display: none;" target="_blank" class="btn btn-primary">Create Spreadsheet</a>
        <button class="btn btn-primary" onclick="enrollmentWrapper.showFilterModal()">Selection Filters</button>
        <input type="hidden" id="program-id" value="@ViewData["programid"]" />
        <input type="hidden" id="program-name" value="@ViewData["programname"]" />
    </div>
</div>
<div style="margin-top: 10px;" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5>New Enrollments for <strong>@ViewData["programname"]</strong> (@ViewData["count"] Physicians)</h5>
        <table id="physician-enrollment-table" class="table table-bordered table-hover aspn-table">
            <thead>
                <tr>
                    <td>NPI</td>
                    <td>Physician Last Name</td>
                    <td>Physician First Name</td>
                    <td>Address</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zip</td>
                    <td>Sales Referral</td>
                    <td>Jan @ViewData["year"]</td>
                    <td>Feb @ViewData["year"]</td>
                    <td>Mar @ViewData["year"]</td>
                    <td>Apr @ViewData["year"]</td>
                    <td>May @ViewData["year"]</td>
                    <td>Jun @ViewData["year"]</td>
                    <td>Jul @ViewData["year"]</td>
                    <td>Aug @ViewData["year"]</td>
                    <td>Sep @ViewData["year"]</td>
                    <td>Oct @ViewData["year"]</td>
                    <td>Nov @ViewData["year"]</td>
                    <td>Dec @ViewData["year"]</td>
                    <td>@ViewData["year"] New Patients</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NPI</td>
                        <td>@item.LastName</td>
                        <td>@item.FirstName</td>
                        <td>@item.Address1</td>
                        <td>@item.City</td>
                        <td>@item.State</td>
                        <td>@item.PostalCode</td>
                        <td>@item.ReferrerName</td>
                        <td>@item.January</td>
                        <td>@item.February</td>
                        <td>@item.March</td>
                        <td>@item.April</td>
                        <td>@item.May</td>
                        <td>@item.June</td>
                        <td>@item.July</td>
                        <td>@item.August</td>
                        <td>@item.September</td>
                        <td>@item.October</td>
                        <td>@item.November</td>
                        <td>@item.December</td>
                        <td>@item.YearTotal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_FilterPanel")

<script type="text/javascript">
    $(document).ready(function () {
        $('#send-mail-id').hide();
        service.getExportUrl('nav-home', '/Home/Index');
        service.getExportUrl('pdf-export', '@ViewData["pdfurl"]');
        service.getExportUrl('excel-export', '@ViewData["excelurl"]');
        service.IsExportDenied('@ViewData["programid"]', 'excel-export', 'pdf-export');
        enrollmentWrapper.init();
        $('#year').val('@ViewData["year"]');
    });
</script>