@using System.Configuration
@using Microsoft.AspNet.Identity
@using ArmadaReports.Web.Helper
@*@if (Request.IsAuthenticated)
    {
        <ul class="nav navbar-nav navbar-right">
            <li style="margin-top: 15px; color: #fff;">
                <span>Welcome @User.Identity.GetUserName().Split('|')[2]!</span>
            </li>
        </ul>
    }*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @*@if (!UserInfoCookie.GetUserInfo().HasPrivilege.Contains("VUMP EpiPen"))
                {
                    <li class="dropdown" id="data-reports">
                        <a id="asembia-ddl-reports" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Reports <img class="toggle-caret-open" src="~/Content/images/Arrow_03.png" /></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Registration", "GetRegistrationReport", "Report")</li>
                            @if (UserInfoCookie.GetUserInfo().IsKaleo == 1 && UserInfoCookie.GetUserInfo().KaleoUserType == 1)
                            {
                                <li>@Html.ActionLink("Inventory Report", "Reports", "Inventory")</li>
                            }
                            <li><a href="#" onclick="enrollmentWrapper.gotoPhysicianEnrollment('@DateTime.Today.Year')">Patient Enrollments By Physician</a></li>
                            <li><a href="#" onclick="tableWrapper.getNewRxReport(true)">New Rx By Physician</a></li>
                            @if (UserInfoCookie.GetUserInfo().UserType.Contains("PROGRAMMGR"))
                            {
                                <li>@Html.ActionLink("Sales Rep Activity", "GetSalesRepActivityReport", "Report")</li>
                            }
                            @if (UserInfoCookie.GetUserInfo().UserType.Contains("PROGRAMMGR")
                                             && UserInfoCookie.GetUserInfo().Report != null
                                             && UserInfoCookie.GetUserInfo().Report.Contains("ScoreCard"))
                            {
                                <li class="analytics">@Html.ActionLink("Pharmacy Scorecards", "Index", "Scorecard", null, new { target = "_blank" })</li>
                            }
                        </ul>
                    </li>
                }*@
            @*<li>@Html.ActionLink("My Reports", "ReportRequestState", "Details")</li>*@
            <li style="display: none;" class="dropdown" id="parent-1">
                <a id="asembia-ddl-reports" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Reports <img class="toggle-caret-open" src="~/Content/images/Arrow_03.png" /></a>
                <ul class="dropdown-menu">
                    <li id="link-1">@Html.ActionLink("Registration", "GetRegistrationReport", "Report")</li>
                    <li id="link-2">@Html.ActionLink("Inventory Report", "Reports", "Inventory")</li>
                    <li id="link-5"><a href="#" onclick="enrollmentWrapper.gotoPhysicianEnrollment('@DateTime.Today.Year')">Patient Enrollments By Physician</a></li>
                    <li id="link-8"><a href="#" onclick="tableWrapper.getNewRxReport(true)">New Rx By Physician</a></li>
                    <li id="link-3">@Html.ActionLink("Sales Rep Activity", "GetSalesRepActivityReport", "Report")</li>
                    <li id="link-4" class="analytics">@Html.ActionLink("Pharmacy Scorecards", "Index", "Scorecard", null, new { target = "_blank" })</li>
                </ul>
            </li>
            <li style="display: none;" id="link-6">@Html.ActionLink("EpiPen Dashboard", "Epipen", "Home")</li>
            <li style="display: none;" id="link-7">@Html.ActionLink("My Reports", "ReportRequestState", "Details")</li>
            <li style="display: none;" id="send-mail-id"><a href="javascript:void(0)" onclick="popup.showSendEmailPopup()">Contact Us</a></li>
            <li class="dropdown" id="data-login">
                <a id="asembia-ddl-login" style="font-size: 30px; font-weight: 200;" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @UserInfoCookie.GetUserInfo().FullName <img class="toggle-caret-open" src="~/Content/images/Arrow_03.png" /></a>
                <ul class="dropdown-menu">
                    @if (ConfigurationManager.AppSettings["admins"].Split('|').Any(u => u.ToLower().Equals(UserInfoCookie.GetUserInfo().UserId.ToLower())))
                    {
                        @*<li>@Html.ActionLink("Impersonate", "Impersonation", "Home")</li>*@
                    }
                    @if (ConfigurationManager.AppSettings["admins"].Split('|').Any(u => u.ToLower().Equals(UserInfoCookie.GetUserInfo().UserId.ToLower())))
                    {
                        <li>@Html.ActionLink("Admin Panel", "Admin", "Home")</li>
                    }
                    <li>
                        <a class="user-link" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        service.getReportMenuLinks(service.getProgramId(), '@UserInfoCookie.GetUserInfo().HasPrivilege');
    });
</script>