@using System.Configuration
@model AMMS.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div>
    <h2>@ViewBag.Title.</h2> 

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <p>Please press the 'Send Link' button. A password reset link will be sent to your specified email address. please check your email & go to the link to reset your password.
            Link will be expired within @(int.Parse(ConfigurationManager.AppSettings["ResetpasswordExpireTime"])/60) minute(s) </p>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeeId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @{
                    int originalEmployeeId = 0;
                    if (TempData.ContainsKey("UserId"))
                    {
                        originalEmployeeId = Convert.ToInt32(TempData["UserId"].ToString());

                    }
                    //int originalEmployeeId = Convert.ToInt32(TempData["UserId"].ToString());
                }
                @Html.TextBoxFor(m => m.EmployeeId, new { @Value = originalEmployeeId, @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @*@{
                    string originalEmailId = TempData["OriginalEmail"].ToString();
                }*@
                @{
                    string originalEmailId = "";
                    if (TempData.ContainsKey("OriginalEmail"))
                    {
                        originalEmailId = TempData["OriginalEmail"].ToString();

                    }
                }
                @Html.TextBoxFor(m => m.Email, new {@Value = originalEmailId,@class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send Link" />
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
