@using ArmadaReports.Common.Extension
@model ArmadaReports.Common.Models.DetailsDataConfig
@using ArmadaReports.Web.Helper


<div class="row row-margin">
    <div class="col-md-12">
        <input type="hidden" id="program-hidden" value="@ViewData["programId"]"/>
        <input type="hidden" id="avgDays-hidden" value="@ViewData["avgDays"]"/>
        <input id="hid-user-role" type="hidden" value="@ViewData["usertype"]" />
        <input id="hid-user-id" type="hidden" value="@ViewData["userid"]" />
        <input id="hid-user-rolename" type="hidden" value="@ViewData["userrolename"]"/>
        <input type="hidden" id="prevoffset" value="@ViewData["prevoffset"]" />
        <input type="hidden" id="nextoffset" value="@ViewData["nextoffset"]" />
        <input type="hidden" id="offset" value="@ViewData["offset"]" />
        <input type="hidden" id="rowcount" value="@ViewData["rowcount"]" />
        <a id="details-pdf" style="display: none;" target="_blank" class="btn btn-primary">Create PDF Document</a>
        <a id="details-excel" style="display: none;" target="_blank" class="btn btn-primary">Create Spreadsheet</a>
        <button class="btn btn-primary" onclick="detailsWrapper.showFilterSelection()">Selection Filters</button>
        <h4><strong>ASPN Search Script</strong></h4>
        <h6>
            ASPN ID: <strong id="filter-aspndid">@ViewData["aspndid"]</strong> | State: <strong id="filter-state">@ViewData["state"]</strong> | Status: <strong id="filter-status">@ViewData["status"]</strong> | Sub Status: <strong id="filter-substatus">@ViewData["substatus"]</strong> |
            @*Reports To: <strong id="filter-reportsto">@ViewData["reportsto"]</strong> |*@Referral Code: <strong id="filter-salesreferrals">@ViewData["salesreferrals"]</strong> | Copay From: <strong id="filter-copayfrom">@ViewData["copayfrom"]</strong> To: <strong id="filter-copayto">@ViewData["copayto"]</strong> |
            From Date: <strong id="filter-fromdate">@ViewData["fromdate"]</strong> | To Date: <strong id="filter-todate">@ViewData["todate"]</strong> | Physician Last Name: <strong id="filter-physicianlastname">@ViewData["physicianlastname"]</strong> | Filling Company: <strong id="filter-fillingcompany">@ViewData["fillingcompany"]</strong> |
            Days To Fill: <strong id="filter-daystofill">@ViewData["daystofill"]</strong> | Prior Auth: <strong id="filter-piorauth">@ViewData["piorauth"]</strong>
        </h6>
        <h4>Number of Referrals: <strong id="number-of-referrals">@ViewData["rowcountstr"]</strong></h4>
    </div>
    <div class="col-md-12">
        <table id="details-table" class="table table-bordered aspn-table">
            <thead>
            <tr>
                @foreach (var config in Model.Config)
                {
                    var user = UserInfoCookie.GetUserInfo();
                    if (Helper.HasRoleAccess(new ArmadaReports.Common.Models.DetailsField {
                        Id =config.Id,Name=config.Name,
                        Order=config.Order,
                        ForDistrctMgr=config.ForDistrctMgr,
                        HiddenForPrograms=config.HiddenForPrograms,
                        ProgramId=config.ProgramId
                    } , user.UserType))
                    {
                        <th>@Helper.SetColumnName(config)</th>
                        @*<th>@config.Name.Replace("_btn_", "")</th>*@
                    }
                }
                @*<th>Program</th>
                    <th>Type</th>
                    <th>ASPN ID</th>
                    <th>Status</th>
                    <th>Dates</th>
                    <th>Notes</th>
                    <th>Created On</th>
                    <th>Status</th>
                    <th>Program Status</th>
                    <th>Sub Status</th>
                    <th>Refills Prescribed</th>
                    <th>Fill Date</th>
                    <th>Days To Fill</th>
                    <th>Reports To</th>
                    <th>Sales Referrals</th>
                    <th>Filling Pharmacy</th>
                    <th>Physician</th>
                    <th>Bin Number</th>
                    <th>Hub Patient ID</th>
                    <th>Tubes</th>
                    <th>NPI</th>
                    <th>Insurance</th>
                    <th>PA Required</th>
                    <th>Copay</th>
                    <th>Final Copay</th>
                    <th>Payer</th>*@
            </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Data)
                {
                <tr>
                    @foreach (var config in Model.Config)
                    {
                        if (config.Name.Contains("_btn_") && config.Name.Contains("History"))
                        {
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <button data-aspnid="@data.AspnRxId_4_" data-createdon="@data.CreatedUserName" data-created="@data.CreatedDatePopup" data-assigned="@data.AssignDatePopup" data-completed="@data.CompleteDatePopup" data-canceled="@data.CancelDatePopup" data-filled="@data.FillDatePopup" data-shipped="@data.ShipDatePopup" data-received="@data.ReceiveDatePopup" class="btn btn-primary btn-column pull-left" onclick="detailsWrapper.showDates(this)">Dates</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary btn-column btn-margin pull-left" onclick="detailsWrapper.showStatusNotes('@data.AspnrRxInternalId')">Activity</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else if (config.Name.Contains("_btn_") && config.Name.Contains("Physician"))
                        {
                            <td>
                                <button data-physician="@data.PhysicianFirstName_42_43_ @data.PhysicianLastName_42_44_" data-aspnid="@data.AspnRxId_4_" data-address1="@data.Address1_1__47_" data-address2="@data.Address2_1_47_" data-city="@data.City_48_" data-state="@data.State_50_" data-zip="@data.PostalCode_51_" data-phone="@data.Phone" class="btn btn-primary btn-column" onclick="detailsWrapper.showAddress(this)">Address</button>
                            </td>
                        }
                        else if (config.Name.Contains("_btn_") && config.Name.Contains("PA Activity"))
                        {
                            <td>
                                <button data-aspnid="@data.AspnRxId_4_" class="btn btn-primary btn-column" onclick="detailsWrapper.showPAActivity('@data.PrescriptionId')">PA Activity</button>
                            </td>
                        }
                        else
                        {
                            var user = UserInfoCookie.GetUserInfo();
                            if (Helper.HasRoleAccess(config, user.UserType))
                            {
                                <td>@Helper.GetPropertyValue(data, "_" + config.Id + "_")</td>
                            }
                        }
                    }
                </tr>
                        @*<tr>
                                <td>@d.ProgramName</td>
                                <td>@d.ReferralType</td>
                                <td>@d.AspnRxId</td>
                                <td>
                                    <button class="btn btn-primary" onclick="detailsWrapper.showHistory('@d.AspnRxId')">History</button>
                                </td>
                                <td>
                                    <button data-created="@d.CreatedDate" data-assigned="@d.AssignDate" data-completed="@d.CompleteDate" data-canceled="@d.CancelDate" data-filled="@d.FillDate" data-shipped="@d.ShipDate" class="btn btn-primary" onclick="detailsWrapper.showDates(this)">Dates</button>
                                </td>
                                <td>
                                    <button class="btn btn-primary" onclick="detailsWrapper.showNotes('@d.AspnRxId')">Notes</button>
                                </td>
                                <td>@d.CreatedDate</td>
                                <td>@d.AspnStatus</td>
                                <td>@d.ProgramStatus</td>
                                <td>@d.ProgramSubStatus</td>
                                <td>@d.PrescriptionNumber</td>
                                <td>@d.FillDate</td>
                                <td>@d.DaysToFill</td>
                                <td>@d.ReportsToName</td>
                                <td>@d.ReferralType</td>
                                <td>@d.FillingPharmacyName</td>
                                <td>
                                    @d.PhysicianFirstName @d.PhysicianFirstName
                                    <button data-address="@d.Address1" class="btn btn-primary" onclick="detailsWrapper.showAddress(this)">Address</button>
                                </td>
                                <td>@d.BinNumber</td>
                                <td>@d.HubPatientId</td>
                                <td>@d.RegranexTubesFilled</td>
                                <td>@d.Npi</td>
                                <td>@d.InsuranceName</td>
                                <td>@d.PriorAuthRequired</td>
                                <td>@d.Copay</td>
                                <td>@d.FinalCopay</td>
                                <td>@d.ReferrerName</td>
                            </tr>*@
                        }
</tbody>
        </table>
    </div>
    @Html.Partial("_FilterSelectionPartial")
    @Html.Partial("_HistoryPartial")
    @Html.Partial("_StatusNotesPartial")
    @Html.Partial("_DatesPartial")
    @Html.Partial("_NotesPartial")
    @Html.Partial("_AddressPartial")
    @Html.Partial("_PAActivityPartial")
</div>

<script>
    $(document).ready(function () {
        $('#send-mail-id').hide();
        service.getExportUrl('nav-home', '/Home/Index');
        service.getExportUrl('details-pdf', '@ViewData["pdfurl"]');
        service.getExportUrl('details-excel', '@ViewData["excelurl"]');
        service.IsExportDenied('@ViewData["programId"]', 'details-excel', 'details-pdf');
        detailsWrapper.init();
        if ($('#hid-user-role').val() === 'DISTRICTMGR') {
            //service.getFilterValuesByStrId('[analytics].[GetReportsToUsersNew]', $('#hid-user-id').val(), 'fs-reportsto');
            //service.getFilterValuesByStrId('[analytics].[GetSalesReferralUsersNew]', $('#hid-user-id').val(), 'fs-salesreferral');
        } else {
            //service.getFilterValuesById('[analytics].[GetReportsToUsers]', $('#program-hidden').val(), 'fs-reportsto');
            //service.getFilterValuesById('[analytics].[GetSalesReferralUsers]', $('#program-hidden').val(), 'fs-salesreferral');
        }
        //service.getFilterValuesById('[analytics].[GetProgramStatusById]', $('#program-hidden').val(), 'fs-status');
        //service.getFilterValuesById('[analytics].[GetProgramSubStatusById]', $('#program-hidden').val(), 'fs-substatus');

        setTimeout(function () {
            $('#details-table').on('page.dt', function () {
                setTimeout(function () {
                    detailsWrapper.putPrevNextButton();
                    detailsWrapper.putPageInfo();
                }, 100);
            });
            $('#details-table').on('order.dt', function () {
                setTimeout(function() {
                    detailsWrapper.putPrevNextButton();
                    detailsWrapper.putPageInfo();
                }, 2);
            });
        }, 1000);

        setTimeout(function() {
            $('#fs-state').val('@ViewData["state"]');
            $('#fs-status').val('@ViewData["status"]');
            $('#fs-substatus').val('@ViewData["substatus"]');
            $('#fs-reportsto').val('@ViewData["reportsto"]');
            $('#fs-salesreferral').val('@ViewData["salesreferralsuser"]');
            $('#fs-priorauth').val('@ViewData["piorauth"]');
            $('#fs-treatment').val('@ViewData["treatment"]');
            $('#fs-tubesqty').val('@ViewData["tubesqty"]');
            $('#fs-plastnamestr').val('@ViewData["physicianlastname"]');
            $('#fs-plastname').val('@ViewData["physicianlastnameqry"]');
            $('#fs-insurance-type').val('@ViewData["instype"]');
            $('#fs-source').val('@ViewData["source"]');
            $('#fs-registry').val('@ViewData["registry"]');
            $('#fs-on-label').val('@ViewData["onlabel"]');
            $('#fs-ndc').val('@ViewData["ndc"]');
            $('#fs-referral-type').val('@ViewData["referraltype"]');
        }, 2000);
    });
</script>