@model List<ArmadaReports.Common.Models.UniquePatientDetails>

<div class="row row-margin">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <input type="hidden" id="program-hidden" value="@ViewData["programId"]" />
        <a id="details-excel" target="_blank" class="btn btn-primary">Create Spreadsheet</a>
        <button class="btn btn-primary" onclick="detailsWrapper.showUpFilterSelection()">Selection Filters</button>
        <h4>Number of Orders: <strong id="number-of-referrals">@ViewData["orders"]</strong></h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table id="up-details-table" class="table table-bordered aspn-table">
            <thead>
                <tr>
                    <th>Program</th>
                    <th>Application Approval Date</th>
                    <th>Application Expiration Date</th>
                    <th>NDC #</th>
                    @*<th>Patient ID</th>*@
                    <th>Program Status</th>
                    <th>Filling Pharmacy</th>
                    <th>Address</th>
                    <th>Prescriber Zip</th>
                    <th>State</th>
                    <th>NPI</th>
                    <th>Physician</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in Model)
                {
                    <tr>
                        <td>@d.ProgramName</td>
                        <td>@d.ApplicationApprovalDate</td>
                        <td>@d.ApplicationExpirationDate</td>
                        <td>@d.Ndc</td>
                        @*<td>@d.PatientId</td>*@
                        <td>@d.ProgramStatus</td>
                        <td>@d.FillingPharmacyName</td>
                        <td>@d.Address1</td>
                        <td>@d.PrescriberZip</td>
                        <td>@d.State</td>
                        <td>@d.Npi</td>
                        <td>@d.PhysicianFirstName @d.PhysicianLastName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_UpFilterSelectionPartial")
</div>

<script>
    $(document).ready(function () {
        $('#send-mail-id').hide();
        service.getExportUrl('details-excel', '@ViewData["excelurl"]');
        detailsWrapper.initOrderDetails();
        service.getFilterValuesById('[analytics].[GetProgramStatusById]', $('#program-hidden').val(), 'upfs-status');
        service.getFilterValuesById('[analytics].[GetPharmacyById]', $('#program-hidden').val(), 'upfs-fillingpharmacy');

        setTimeout(function () {
            $('#upfs-state').val('@ViewData["state"]');
            $('#upfs-status').val('@ViewData["status"]');
            $('#upfs-fillingpharmacy').val('@ViewData["fillingPharmacyId"]');
            $('#upfs-plastname').val('@ViewData["physicianLastnamesrcqryoptr"]');
        }, 2000);
    });
</script>