
@using ArmadaReports.Web.Models
@model List<SalesRepActivityModel>

@{
    var programs = ViewData["programs"] == null ? new Dictionary<string, string>() : ViewData["programs"] as Dictionary<string, string>;
}

<div class="row row-margin">
    <h3> Sales Rep Activity </h3>
    <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-12">
            <div class="form-inline">
                <input id="userid" type="hidden" value="@ViewData["userid"]" />
                <label for="sra-program-name" class="">Program: </label>
                <select class="form-control form-control-height" id="sra-program-name">
                    <option value="All">--Select Program--</option>
                    @foreach (var item in programs)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-12">
            <div class="form-group">
                <a class="btn btn-primary" onclick="detailsWrapper.getSalesRepActivityReport()">Submit</a>
                <a id="sra-excel" style="display: none;" target="_blank" class="btn btn-primary">Create Spreadsheet</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-2 col-sm-12"></div>
    </div>
</div>

<!-- Data table -->
<div style="margin-top: 10px;" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table id="sra-table" class="table table-bordered">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>User Type</th>
                    <th>Email</th>
                    @if (ViewData["useremail"].ToString().ToLower().Contains("kaleo"))
                    {
                        <th>Last Login Date</th>
                    }
                    <th>Program Name</th>
                    <th>Accessed On</th>
                    <th>Accessed Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td> @data.UserName </td>
                        <td> @data.UserType </td>
                        <td> @data.Email </td>
                        @if (ViewData["useremail"].ToString().ToLower().Contains("kaleo"))
                        {
                            <td> @data.LastLoginDate </td>
                        }
                        <td> @data.ProgramName </td>
                        <td> @data.AccessedOn </td>
                        <td> @data.AccessedCount </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<!--End of Data table-->

<script>
    $(document).ready(function () {
        $('#send-mail-id').hide();
        service.getExportUrl('nav-home', '/Home/Index');
        service.getExportUrl('sra-excel', '@ViewData["excelurl"]');

        detailsWrapper.initSraTable();
        service.IsExportDenied('@ViewData["programid"]', 'sra-excel', '');
        setTimeout(function () {
            $('#sra-program-name').val('@ViewData["programname"]');
        }, 100);
    });
</script>